.hero__container {
  padding-top: 275px;
  padding-bottom: 245px;
  position: relative;
  display: flex;
  @extend%container;
  // outline: 1px solid red;

  background: rgba(25, 28, 38, 0.2);
  background-image: url(../images/header/bg-img.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/header/bg-img@2x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/header/bg-img-1200.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/bg-img-1200@2x.jpg);
    }
    background-position: left 115px top;
  }
  background-repeat: no-repeat;
  background-position: left 159px top;
  background-size: contain;
}
.hero__content {
  padding-left: 240px;
}
.side-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 32px;
  padding-right: 30px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 159px;

  background-color: #fff;
  @media screen and (min-width: 1200px) {
    width: 115px;
  }
}
.side-bar__social {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    @extend%label-line;
    background-color: #303030;
    margin-right: 40px;
  }
  transform: rotate(-90deg) translateX(50%);
}
.side-bar__links {
  //   padding-top: 20px;
  //   padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: $primory-text-color;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 40px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.hero__label {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);

  &::before {
    @extend%label-line;
    background-color: rgba(157, 164, 189, 0.6);
  }
}
.hero__title {
  margin-top: 20px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero__description {
  margin-top: 20px;
  margin-bottom: 0;

  max-width: 400px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
// .hero {
// //   position: absolute;
// //   top: 0;
// //   right: 0;
// // z-index: 0;
// // }
// .hero__container {
//   position: absolute;
//   z-index: 0;
//   top: 0;
//   // right: 0;

//   outline: 1px solid red;
//   @extend%container;
//   // position: relative;
//   padding-right: 0;
//   // @media screen and (min-width: 1200px) {
//   //   padding-top: 192px;
//   //   padding-left: 100px;
//   //   padding-bottom: 206px;
//   // }
// }
// .side-bar {
//   position: absolute;
//   bottom: -20px;
//   transform: rotate(-90deg);
//   transform-origin: left top 0;
//   padding-top: 30px;
//   padding-bottom: 30px;
//   padding-left: 11px;
//   padding-right: 11px;

//   // display: flex;
//   // flex-direction: column;
//   // justify-content: space-between;
// }

// .side-bar__links {
//   padding-top: 44px;
//   padding-bottom: 27px;
//   display: inline-block;

//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.36;
//   text-decoration: none;
//   color: $primory-text-color;
//   &:not(:last-child) {
//     margin-right: 40px;
//   }
//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
//   // @media screen and (min-width: 1200px) {
//   //   padding-top: 67px;
//   //   padding-bottom: 58px;
//   // }
// }
// .hero__content {
//   padding-top: 272px;
//   padding-bottom: 245px;
//   padding-left: 120px;
//   margin-left: 120px;

//   // background-color: green;
//   background-repeat: no-repeat;
//   // background-size: contain;
//   background: rgba(25, 28, 38, 0.2);
//   background-image: url(../images/header/bg-img.jpg);
//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: url(../images/header/bg-img@2x.jpg);
//   }
//   @media screen and (min-width: 1200px) {
//     background-image: url(../images/header/bg-img-1200.jpg);
//   }
// }
// .hero__label {
//   display: flex;
//   align-items: center;
//   margin-top: 0;
//   margin-bottom: 0;
//   font-size: 11px;
//   line-height: 1.36;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
//   color: rgba(157, 164, 189, 0.6);
//   &::before {
//     @extend%label-line;
//     background-color: rgba(157, 164, 189, 0.6);
//   }
// }
// .hero__title {
//   @extend%title-style;
//   margin-top: 20px;

//   font-size: 48px;
//   line-height: 1.16;
//   letter-spacing: 0.05em;

//   color: #ffffff;
// }
// .hero__description {
//   margin-top: 20px;
//   margin-bottom: 0;

//   max-width: 355px;

//   font-size: 16px;
//   line-height: 1.62;
//   color: $secondary-text-color;
// }
