.portfolio__container {
  @extend%container;
  padding-top: 84px;
  padding-bottom: 84px;
}
.portfolio__label {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &::before {
    @extend%label-line;
  }
}
.portfolio__list {
  @extend%list-reset;
  margin-top: 44px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio__image {
  @extend%image-fix;
}
.portfolio__list-item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 2)) {
      margin-top: 30px;
    }
  }
}
