%title-style {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
}
%list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
%hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
%container {
  // outline: 1px solid red;
  margin-right: auto;
  margin-left: auto;
  padding-right: 39px;
  padding-left: 39px;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}
%image-fix {
  display: block;
}
%button {
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  &:hover,
  &:focus {
    background: #ff6c00;
  }
}
%label-line {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: $primory-text-color;
}
